/* Content copied from "checkout5-custom.css" at 2019-03-01T05:12:59.334Z */

/* /files/checkout5-custom.css */

/* Displays the option to enter a foreign document */
.document-box {
    display: block;
}

/* Displays the option to enter an international phone */
.phone-box {
    display: block;
}

.header-checkout {
    padding: 20px 0;
    background-color: #000000;
    margin-bottom: 40px;
}

.footer-checkout-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    padding: 0 0 40px 0;
}

@media (max-width: 991px) {
    .footer-checkout-content-payments div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 320px;
        margin: 0 auto;
    }

    .footer-checkout-content-brand img {
        display: block;
        margin: 10px auto;
    }

    .footer-checkout-content span {
        text-align: center;
        margin: 25px 0;
    }
}

@media (min-width: 991px) {
    .footer-checkout-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-checkout-content span {

        margin: 0 0 15px 0;
    }
}

.footer-checkout-content span {
    color: #333300;
    display: block;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
}

.footer-checkout-content-payments img {
    margin: 0 8px 8px 0;
}

.footer-checkout-rights {
    padding: 20px 0;
    background-color: #000000;
}

.footer-checkout-rights p {
    color: #FFF;
    text-align: center;
    display: block;
    line-height: 24px;
    width: 100%;
}

.footer-checkout-content-brand img {
    max-width: 135px;
}

.footer-checkout-content-payments img {
    max-width: 40px;
}

/* CODIGO DO VENDEDOR CSS ------------------------------------- */

.seller-code-label label {
    color: #333;
    display: block;
    font-size: 14px;
    text-align: left;
    padding: 10px 0;
}

.seller-code-input {
    display: flex;
    width: 100%;
    position: relative;
}

.seller-code-input input {
    height: 40px;
    line-height: 40px;
    max-height: initial;
    display: inline-block;
    padding: 0px 10px;
    border-radius: 4px;
    border: 1px solid #cbcbcb;
    outline: initial;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 292px;
    margin-right: 10px;
}

#seller-code-btn {
    width: 72px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #000000;
}

.seller-code-result {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.seller-code-result-fechar {
    display: none;
    cursor: pointer;
    color: #FFF;
    padding: 5px 10px;
    background-color: #333;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 0 0 0 10px;
    transition: 0.2s;
}

.seller-code-result-fechar:hover {
    opacity: 0.8;
}

.seller-code-result-name {
    color: #333;
    font-size: 18px;
    display: block;
    font-weight: 600;
    text-align: left;
}


#cart-note {
    pointer-events: none;
}