<footer>
    <div class="container">
        <div class="footer-checkout-content">
            <div class="footer-checkout-content-brand">
                <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/focus-store.png?v=123" />
                <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/qa-security-enviroment.png?v=123" />
            </div>
            <div class="footer-checkout-content-payments">
                <span>Fromas de pagamento</span>
                <div>
                    <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/visa-svgrepo-com.png?v=123" />
                    <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/qa-mastercard-full-svgrepo-com.png?v=123" />
                    <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/qa-elo-svgrepo-com.png?v=123" />
                    <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/qa-american-express-svgrepo-com.png?v=123" />
                    <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/qa-diners-club-international-svgrepo-com.png?v=123" />
                    <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/qa-hipercard.png?v=123" />
                    <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/qa-pix.png?v=123" />
                </div>
            </div>
            <div class="footer-checkout-content-security">
                <span>Segurança</span>
                <div>
                    <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/qa-certifield.png?v=123" />
                </div>
            </div>
            <div class="footer-checkout-content-vtex">
                <span>Powered by</span>
                <div>
                    <img src="https://focustextilqa.vtexcommercestable.com.br/arquivos/qa-vtex-old.png?v=123" />
                </div>
            </div>
        </div>
    </div>
    <div class="footer-checkout-rights">
        <div class="container">
            <p>
                © Focus Têxtil | TODOS OS DIREITOS RESERVADOS. <br />
                CNPJ 18.843.398/0001-93 | Rua Achilles Orlando Curtolo, nº 592<br />
                Bairro Parque Industrial Tomas Edson - São Paulo/SP - BR - CEP 01144-010
            </p>
        </div>
    </div>
</footer>